<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="gduf.javaee.mapper.CardMapper">

    <select id="selectCard" parameterType="String" resultType="gduf.javaee.po.Card">
        select * from card;
    </select>
    <!--按卡号查询卡信息 -->
    <select id="selectCardByCid" parameterType="String" resultType="gduf.javaee.po.Card">
		select * from card where cid=#{cid};
	</select>

    <insert id="createCard" parameterType="gduf.javaee.po.Card">
        INSERT INTO `card`(`cid`, `uid`, `balance`, `status`) VALUES (#{cid}, #{uid}, #{balance}, #{status});
    </insert>

    <update id="updateCardBalance" parameterType="gduf.javaee.po.Card">
        update card
        <set>
          balance = #{money}
        </set>
        <where>
            cid = #{cid}
        </where>
    </update>
    <update id="updateCardStatus" parameterType="gduf.javaee.po.Card">
        update card
        <set>
            status = #{status}
        </set>
        <where>
            cid = #{cid}
        </where>
    </update>

</mapper>
